    table {
      border= "8"
      text-align: center;
      color:orange
    }
h4 {
  style="text-align: center;
    color:#0c77ed;
  font-size: 30px;
}
p {
  height:40px;
  
  color:orange;
}
